.title {
background: black;
height: 160px;
}

.model {
  background: #85B34F;
  height: 230px;
}

body {
    background: #f9f9f0;
}

.session {
  background: black;
  height: 120px;;
}
